$extra-small: 576px;
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;

* {
    margin: 0;
    padding: 0;    
}

.container {
   
    margin: auto;
    width: $extra-small;
    overflow: hidden;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px;
    .header {
        width: $extra-small;
        grid-column: 1 / -1;
        display:grid;
        padding-bottom: 5px;
    h1 {
        
        padding-top: 60px;
        margin: auto;    
        font-size: 7em;
    }

    .sub-header {
        padding-top: 50px;
        grid-column: 1 / -1;
        width: $extra-small;
        
        h3 {
            font-size: 2.5em;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }

      
    //sub-header ends here
    }


    .signIn {
      padding-top: 50px;
       width: 400px;
       grid-column: 1 / -1;
       margin: auto;

        form {
            padding: 5px;
            .form-group {
                display:grid;
                grid-template-columns: 1fr;
                             
                input {
                    height: 30px;
                    border-radius: 10px;
                    margin-bottom: 10px;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }

            button {
                margin-top: 5px;
                height: 50px;
                width: 100%;
                font-weight: 600;
                font-size: 1.2em;
                
            }

            #form-submit {
                background-color: black;
                color: white;
                border: none;
                border-radius: 10px;
            }

            #form-submit:hover {
                background-color: white;
                color: black;
                border: solid 5px black;
            }

            #facebook {
                background-color: #4A6EBB;
                color: white;
                border: none;
                border-radius: 10px;
            }

            #facebook:hover {
                background-color: white;
                color: #4A6EBB;
                border: solid 5px #4A6EBB;
            }

            #google {
                background-color: #C94131;
                color: white;
                border: none;
                border-radius: 10px;
            }

            #google:hover {
                background-color: white;
                color: #C94131;
                border: solid 5px #C94131;
            }
        }
        
    }
    //header ends here
    

    
}

    .body {
        width: $extra-large;
        grid-column: 1 / -1;
    
        .img {
            img {
                display: none;
            }
        }

        .inspire {
            display: none;
        }
}

    .about {
        padding-top: 50px;
        grid-column: 1 / -1;

        p{
            font-family: Arial, Helvetica, sans-serif;
            padding: 5px;
            line-height: 25px;
        }
    }
}
