* {
    padding: 0px;
    margin: 0px;
}

.container {
    border: 1px solid;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .header {
        grid-column: 1 / -1;
        border: 1px solid;
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        .title {
            border: 1px solid;
            grid-column: 1 / -1;
        }

        .subtitle {
            border: 1px solid;
            grid-column: 1 / 7;
        }

        .registration {
            border: 1px solid;
            grid-column: 7 / 13;
        }
    }

    .body {
        grid-column: 1 / -1;
        border: 1px solid;
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        .img {
            grid-column: 1 / -1;
            border: 1px solid;
        }

        .about {
            border: 1px solid;
            grid-column: 1 / 7;
        }

        .quote {
            border: 1px solid;
            grid-column: 7 / 13;
        }
    }

    .footer {
        grid-column: 1 / -1;
        border: 1px solid;
    }

}

@media (min-width: 768px) {

   .container {

    .header {
        .title {
            grid-column: 1 / 7;
        }

        .subtitle {
            
        }

        .registration {
            grid-column: 7 / 13;
            grid-row: 1 / 3;

            
        }
    }

    .body {
        .img {
            grid-column: 1 / 7;
        }

        .about {
            grid-column: 1 / 7;
        }

        .quote {
            grid-column: 7 /13;
            grid-row: 1  / 3;
        }
    }

   }

}