* {
    padding: 0px;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    
    .header {
        //grid section
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        
        //spacing
        margin: 20px auto; 
        
        .title {
            //grid section
            grid-column: 1 / -1;
                        
            //text-styling
            font-size: 3.75rem; 
            text-align: center;
            font-weight: 600;
        }

        .subtitle {
            grid-column: 1 / -1;

            //text-styling
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }

        .form-login {
            font-family: Arial, Helvetica, sans-serif;
            width: 250px;
            margin: 20px auto;
            //grid section - child
            grid-column: 1 / -1;
            
            //grid section - parent
            display:grid;
            grid-template-columns: repeat(12, 1fr);

            h4 {
                //grid
                grid-column: 1 / -1;
            }

            input {
                //grid
                grid-column: 1 / -1;
                margin: .25em 0;
                padding: .25em;
               
            }

            button {

                grid-column: 1 / -1;
                margin: .25em 0;
                padding: .25em;
            }

            //text-styling
            text-align: center;
        }
    }

    .body {
        //grid- child
        grid-column: 1 / -1;

        //grid-parent
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        //spacing
        margin-bottom: 20px;

        .form-registration {
            //grid-child
            grid-column: 1 / -1;

             //spacing

             margin: 20px auto;

            //grid-parent
            form {
                text-align: center;
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                margin: auto;

                font-family: Arial, Helvetica, sans-serif;
                h4 {
                    grid-column: 1 / -1;
                }

                .form-group {
                    
                    grid-column: 1 / -1;
                    width: 250px;
                    display:grid;

                    input {
                        margin: .25em 0;
                        padding: .25em;
                        text-align: center;
                    }

                    button {
                        margin: .25em 0;
                        padding: .25em;
                    }
                }
        }
        }        
        .about {
            grid-column: 1 / -1;
            margin: 20px auto;
            width: 380px;
        }
    }
    .footer {
        grid-column: 1 / -1;
    }

}

