<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  <title>MELANGE - A Song Writing App</title>
</head>

<body>

  <div class="container">
    
    <!-- HEADER STARTS HERE -->
    <div class="header">
      <div class="title">M&Eacute;LANGE</div>
      <div class="subtitle">A Songwriting App</div>
      <div class="about">Melange is an online DAW that gives songwriters all the tools to craft a song from samples or from nothing.  A Real-Time Application that is simple, intuitive but also feature-rich.  If you are new to songwriting or a hardend professional, Melange offers you a seamless experience.</div>
      <form class="form-login" action="#">
        
          <h4>Sign In Here:</h4> 
          <input type="text" name="username" id="username-register" class="form-control" placeholder="Enter Username" autocomplete="off">
          <input type="password" name="password" id="username-register" class="form-control" placeholder="Enter Password" autocomplete="off">
          <button>Sign In</button>
      </form>
    </div>
    <!-- HEADER ENDS HERE -->

    <!-- BODY STARTS HERE -->
    <div class="body">

      <div class="form-registration">
          <form action="#">

              <h4>Not yet a member? Register below:</h4>

            <div class="form-group">

              <input type="text" name="username" id="username-register" class="form-control" placeholder="Enter Username" autocomplete="off">
              <input type="text" name="email" id="email-register" class="form-control" placeholder="Enter Email" autocomplete="off">
              <input type="password" name="password" id="username-register" class="form-control" placeholder="Choose a Password" autocomplete="off">
            
              <button class="registerBtn">Register</button>
              <button class="facebookBtn">Register with Facebook</button>
              <button class="googleBtn">Register with Google</button>
                         
            </div>
          </form>
        </div>

        

    </div>
    <!-- BODY ENDS HERE -->

    <!-- FOOTER STARTS HERE -->
    <div class="footer"></div>
    <!-- FOOTER ENDS HERE -->

</div>
 
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

  
</body>

</html>