<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
  <title>MELANGE - A Song Writing App</title>
</head>

<body>

  
  <!-- START HERE -->

  <div class="container">

    <div class="header">
      <h1>M&Eacute;LANGE</h1>

      <div class="sub-header">
        <h3>A SONGWRITING APP</h3>
       
  
      </div>

      <div class="signIn">
           <form action="#" method="POST" id="registration-form">

            <div class="form-group">
              
              <input name="username" id="username-register" class="form-control" type="text" placeholder="Pick a username" autocomplete="off">
            </div>

            <div class="form-group">
              
              <input name="email" id="email-register" class="form-control" type="text" placeholder="Enter your email" autocomplete="off">
            </div>

            <div class="form-group">
              
              <input name="password" id="password-register" class="form-control" type="password" placeholder="Create a password">
            </div>

            <button type="submit" id="form-submit">Register Now</button>
            <button type="submit" id="facebook">Register with Facebook</button>
            <button type="submit" id="google">Register with Google</button>

           </form>
      </div>
    </div>

  

    <div class="body">

    <div class="img">
      <img src="img/2019-08-15_21-37-26.png" alt="">
      <!-- <img src="img/eye-with-reptilian-pupil.svg" alt="">
      <img src="img/eye-with-reptilian-pupil.svg" alt=""> -->
    </div>

    <div class="inspire">
      <div class="chinese">

      </div>

      <div class="randomquote">
        <p>“They found security in letting go rather than in 
            holding on and, in so doing, developed an attitude 
            toward life that might be called psychophysical 
            judo. Nearly twenty-five centuries ago, the 
            Chinese sages Lao-tzu and Chuang-tzu had 
            called it wu-wei, which is perhaps best translated 
            as “action without forcing.” It is sailing in the 
            stream of the Tao, or course of nature, and 
            navigating the currents of li (organic pattern)—a 
            word that originally signified the natural markings 
            in jade or the grain in wood. As this attitude 
            spread and prevailed in the wake of Vibration 
            Training, people became more and more 
            indulgent about eccentricity in life-style, tolerant of 
            racial and religious differences, and adventurous 
            in exploring unusual ways of loving.”
            </p>
            <h4>ALAN WATTS</h4>
      </div>

    </div>
  </div>
    <div class="about">

      <p>
          Melange is an online DAW that gives songwriters all the tools to craft a 
song from samples or from nothing.  A Real-Time Application that is 
simple, intuitive but also feature-rich.  If you are new to songwriting or a 
hardend professional, Melange ofers you a seamless experience.   

      </p>
    

    </div>

  </div>
 
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

  
</body>

</html>