<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/main.css">
  <title>MELANGE - A Song Writing App | Main Page</title>
</head>

<body>

  
  <!-- START HERE -->

  <div class="container">

    <div class="left">
     <button>HOME</button>
     <button>PROFILE</button>
     <button>BOUNCE</button>
     <button>SHARE</button>
     <button>LOAD PROJECT</button>
     <button>ICHING CALCULATOR</button>
     <button>AMP</button>
    </div>
<!-- "left" end -->

    <div class="center">

    <h1 class="header">M&Eacute;LANGE</h1>

    <h3 class="song-title">SHUT EM' DOWN </h3>
    <div class="icons">
        <form action="#">
        <button>Genius</button>
        <button>Write</button>
        <button>Voice</button>
        </form>
    </div>

    <p class="lyrics"> 
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum illum delectus sapiente, pariatur ad nam distinctio reprehenderit quod, doloribus quam et dolorum velit ratione quas! Deserunt ea minima laudantium atque maiores vel, eos vero, distinctio reiciendis rem neque error sapiente modi. Est, quaerat dignissimos! Officia nesciunt amet nam velit harum?
    </p>

  </div>


    <div class="right">
      <div class="one">
        <input type="text" placeholder="Search...">
      </div>

      <div class="two">
        <button>PLAY</button>
        <button>STOP</button>
        <button>RECORD</button>
        <button>QUE</button>
        <button>TEMPO</button>
        <button>KEY</button>
        <button>SIGNATURE</button>
        <button>EDIT</button>
        <button>GRID</button>
        <button>SEQUENCER</button>
        <button>MIXER</button>
        <button>EFFECTS</button>
        <h4 class="timer">1:40</h4>
        <button>UNDO</button>
        <button>REDO</button>
      </div>


      <div class="three">

        <button>ELECTRIC GUITAR</button>
        <button>ACOUSTIC GUITAR</button>
        <button>MICROPHONE</button>
        <button>PIANO</button>
        <button>CHELLO</button>
        <button>HARP</button>
        <button>BANGO</button>
        <button>SAXAPHONE</button>
        <button>BASS</button>
        <button>DRUMS</button>
        <button>TRUMPET</button>
        <button>GINGELS</button>
        <button>BAGPIPS</button>
        <button>FLUTE</button>
        

      </div>



      <div class="four">
        <div class="mixer">
          placeholder
        </div>

      </div>
      <div class="five">
        <button>LOOP ONE</button>
        <button>LOOP TWO</button>
      </div>

    
  </div>


 
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

  
</body>

</html>